@model Entities.Concrete.Writer

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Yazar Ekle</h1>
<br />
@using (Html.BeginForm("Add", "Writer", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yazar Adı")
        @Html.TextBoxFor(w => w.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.Name)
        <br />
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(w => w.SurName, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.SurName)
        <br />
        @Html.Label("Yazar Mail")
        @Html.TextBoxFor(w => w.Mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.Mail)
        <br />
        @Html.Label("Yazar Şifresi")
        @Html.TextBoxFor(w => w.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.Password)
        <br />
        @Html.Label("Yazar Görsel Linki")
        @Html.TextBoxFor(w => w.ImagePath, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.ImagePath)
        <br />
        @Html.Label("Yazar Unvan")
        @Html.TextBoxFor(w => w.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.Title)
        <br />
        @Html.Label("Yazar Hakkında")
        @Html.TextAreaFor(w => w.About, new { @class = "form-control" })
        @Html.ValidationMessageFor(w => w.About)
        <br />
        <button class="btn btn btn-info">Yazar Ekle</button>
    </div>
}

